@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.radix-themes {
    --default-font-family: var(--font-inter);
}

.glass-background {
    .light & {
        background: rgba(255, 255, 255, 0.75);
    }
    .dark & {
        background: rgba(63, 63, 63, 0.75);
    }
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
